.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.background-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	animation-delay: 1s;
}

.panel {
	border: none;
	border-top: 6px solid;
}

.panel-primary {
	border-color: #2980b9;
}

a {
	color: #000;
}

a:link, a:hover, a:active, a:focus a:visited {
	text-decoration: none;
	outline: none;
}

.fa {
	transition: color .4s;
	transition-delay: 1s;
}

@media (max-width: 768px) {
	.fa-5x {
		font-size: 4em !important;
	}
}

/* Helpers */
.vertical-offset-20 {
	margin-top: 20px;
}

/* Animations */
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeftBig {
	animation-name: fadeInLeftBig;
}

@keyframes hinge {
	0% {
		transform-origin: top left;
		animation-timing-function: ease-in-out;
	}

	20%, 60% {
		transform: rotate3d(0, 0, 1, 80deg);
		transform-origin: top left;
		animation-timing-function: ease-in-out;
	}

	40%, 80% {
		transform: rotate3d(0, 0, 1, 60deg);
		transform-origin: top left;
		animation-timing-function: ease-in-out;
		opacity: 1;
	}

	to {
		transform: translate3d(0, 700px, 0);
		opacity: 0;
	}
}

.hinge {
	animation-duration: 1.5s;
	animation-name: hinge;
}